@import "../../styles/variables"
@import "../../styles/mixins"

.wrapperAppBar
    width: 1140px
    position: relative
    margin: 0 auto
    .appBar
        width: 100%
        box-shadow: none
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: 0
    .mainBox
        display: flex
        justify-content: flex-start
        flex-direction: column
        position: absolute
        top: 124px
        z-index: 3
        left: 24px
        .title 
            width: 506px
            font-size: 72px
            font-family: $font-poppins
            line-height: 92px
            font-weight: 900
            color: $color-main-text
            padding-bottom: 30px
        .description
            width: 566px
            font-size: 16px
            font-family: $font-inter
            line-height: 19.36px
            font-weight: 600
            color: $color-main-text
            padding-bottom: 32px
        .searchBtn
            width: 47px
            height: 23px
            text-transform: capitalize
            color: #1A1B4B
            background-color: #fff
            &:hover
                color: #fff
                background-color: grey

@media (max-width: 1920px)
    .wrapperAppBar
        .mainBox
            top: 230px
            width: 98%
            .title 
                width: 100%
                font-size: 102px
                line-height: 102px
                padding-bottom: 35px
            .description
                width: 100%
                font-size: 18px
                line-height: 18px
                padding-bottom: 32px
            .searchBtn
                width: 63px
                height: 26px
                text-transform: capitalize
                color: #1A1B4B
                background-color: #fff
                &:hover
                    color: #fff
                    background-color: grey

@media (max-width: 1425px)
    .wrapperAppBar
        .mainBox
            top: 100px
            width: 98%

@media (max-width: 1366px)
    .wrapperAppBar
        .mainBox
            top: 150px
            width: 98%
            .title 
                width: 100%
                font-size: 72px
                line-height: 72px
                padding-bottom: 25px
            .description
                font-size: 16px
                line-height: 16px
                padding-bottom: 22px

@media (max-width: 1114px)
    .wrapperAppBar
        .mainBox
            top: 80px

@media (max-width: 1112px)
    .wrapperAppBar
        .mainBox
            top: 100px
            .title 
                font-size: 62px
                line-height: 62px
                padding-bottom: 25px
            .description
                font-size: 15px
                line-height: 16px
                padding-bottom: 22px

@media (max-width: 1038px)  
    .wrapperAppBar
        .mainBox

@media (max-width: 1014px)
    .wrapperAppBar
        .mainBox
            .title 
                font-size: 52px
                line-height: 52px
                padding-bottom: 25px
            .description
                font-size: 15px
                line-height: 15px
                padding-bottom: 22px
            .searchBtn
                width: 47px
                height: 23px
                text-transform: capitalize
                color: #1A1B4B
                background-color: #fff
                &:hover
                    color: #fff
                    background-color: grey

@media (max-width: 945px)  
    .wrapperAppBar
        .mainBox           

@media (max-width: 845px)
    .wrapperAppBar
        .mainBox
            top: 55px
            .title 
                font-size: 42px
                line-height: 42px
                padding-bottom: 15px
            .description
                font-size: 14px
                line-height: 14px
                padding-bottom: 12px
            .searchBtn
                width: 30px
                height: 20px
                text-transform: capitalize
                color: #1A1B4B
                background-color: #fff
                font-size: 12px
                &:hover
                    color: #fff
                    background-color: grey

@media (max-width: 605px)
    .wrapperAppBar
        .mainBox
            top: 45px

@media (max-width: 600px)
    .wrapperAppBar
        .mainBox
            left: 16px
            .title 
                width: 300px
                font-size: 32px
                line-height: 32px
                font-weight: 800
                padding-bottom: 10px
            .description
                width: 290px
                font-size: 13px
                line-height: 13px
                font-weight: 400
                padding-bottom: 5px
           
@media (max-width: 566px)
    .wrapperAppBar
        .mainBox
            top: 10px
            .title 
                font-size: 22px
                line-height: 22px
                font-weight: 700
                padding-bottom: 10px
            .description
                font-size: 12px
                line-height: 13px
                font-weight: 300
                padding-bottom: 12px
           
@media (max-width: 455px)
    .wrapperAppBar
        .mainBox
            top: 0
            .title 
                font-size: 20px
            .description
                font-size: 11px

@media (max-width: 474px)
    .wrapperAppBar
        .mainBox
            top: -10px
            .title 
                font-size: 16px
                line-height: 16px
            .description
                font-size: 9px
                line-height: 9px
            .searchBtn
                width: 30px
                height: 20px
                &:hover
                    color: #fff
                    background-color: grey

@media (max-width: 445px)
    .wrapperAppBar
        .mainBox
            top: -35px
            .title 
                width: 100%
                text-align: center
                font-size: 16px
                line-height: 12px
                padding-bottom: 15px
            .description
                width: 98%
                text-align: center
                font-size: 8px
                line-height: 8px
            .searchBtn
                width: 30px
                height: 20px
                backgroundColor: rgba(255, 255, 255, 0.7)
                &:hover
                    color: #fff
                    background-color: grey
      
@media (max-width: 320px)
    .wrapperAppBar
        .mainBox
            top: -35px
            .title 
            .description
            .searchBtn
                background-color: rgba(255, 255, 255, 0.7)
                &:hover

.commonTextStyle
    font-family: $font-inter
    display: flex
    text-decoration: none

    .wrapperStudentLinks
        padding-left: 5px
        display: flex
        align-items: center

.text
    padding-left: 10px
    padding-right: 10px

.infoText
    font-size: 14px
    font-weight: 400
    cursor: pointer
    .signInText
        padding-top: 12px
        color: $color-text
        margin-right: 15px 
        text-align: center
    .text
        color: black
        padding-top: 1px
    .boxOr
        color: $opacity-bg-color

@media (max-width: 713px)
    .infoText
        padding-right: 3px
        font-size: 13px
        font-weight: 300

@media (max-width: 660px)
    .infoText
        padding-right: 0
        font-size: 13px
        font-weight: 200

@media (max-width: 648px)
    .infoText
        font-size: 11px
        font-weight: 100
  
.btnText
    font-weight: 600
    text-decoration: none
    padding-bottom: 2px

.btnLanding
    padding-top: 12px
    color: $color-main-text
    border-bottom: 2px solid $color-main-text
    margin-right: 15px
    text-align: center
    &:hover
        padding-top: 12px
        color: $color-text
        border-bottom: 2px solid $color-text

.commonTextStyleMob
    cursor: pointer
    .signInTextMob, .textMob
        font-family: $font-inter
        font-size: 16px
        padding-top: 16px
        margin-bottom: 16px        
        color: #FFF
        margin-right: 0
        text-align: center
    .textMob
        font-size: 22px
        &:hover
            color: $color-text
