@import "../../styles/variables"
@import "../../styles/mixins"

.wrapperAppBar
    width: 1140px
    position: relative
    margin: 0 auto
    .appBar
        width: 100%
        box-shadow: none
        position: absolute
        top: 0
        left: 0
        right: 0
        margin: 0
    .mainBox
        width: 100%
        display: flex
        justify-content: flex-start
        flex-direction: column
        // align-items: flex-start
        position: absolute
        top: 124px
        z-index: 3
        left: 24px
        .title 
            width: 506px
            font-size: 72px
            font-family: $font-poppins
            line-height: 92px
            font-weight: 900
            color: $color-main-text
            padding-bottom: 30px
        .description
            width: 566px
            font-size: 16px
            font-family: $font-inter
            line-height: 19.36px
            font-weight: 600
            color: $color-main-text
            padding-bottom: 32px
        .searchBtn
            width: 47px
            height: 23px
            text-transform: capitalize
            color: #1A1B4B
            background-color: #fff
            &:hover
                color: #fff
                background-color: grey



@media (max-width: 1038px)  
    .wrapperAppBar
        .mainBox
             

@media (max-width: 945px)  
    .wrapperAppBar
        .mainBox
             


@media (max-width: 600px)
    .wrapperAppBar
        .mainBox
            left: 16px
            .title 
                width: 506px
                font-size: 62px
                font-family: $font-poppins
                line-height: 82px
                font-weight: 900
                color: $color-main-text
                padding-bottom: 30px
            .description
                width: 566px
                font-size: 16px
                font-family: $font-inter
                line-height: 19.36px
                font-weight: 600
                color: $color-main-text
                padding-bottom: 32px
           

@media (max-width: 566px)
    .wrapperAppBar
        .mainBox
            .title 
                width: unset
                font-size: 52px
                font-family: $font-poppins
                line-height: 52px
                font-weight: 900
                color: $color-main-text
                padding-bottom: 30px
            .description
                width: 98%
                font-size: 14px
                font-family: $font-inter
                line-height: 19.36px
                font-weight: 600
                color: $color-main-text
                padding-bottom: 32px
           
             

.commonTextStyle
    font-family: $font-inter
    display: flex
    text-decoration: none

    .wrapperStudentLinks
        padding-left: 5px
        display: flex
        align-items: center

.text
    padding-left: 10px
    padding-right: 10px

.infoText
    font-size: 14px
    font-weight: 400
    cursor: pointer
    .signInText
        padding-top: 12px
        color: $color-text
        margin-right: 15px 
        text-align: center
    .text
        color: black
        padding-top: 1px
    .boxOr
        color: $opacity-bg-color

@media (max-width: 713px)
    .infoText
        padding-right: 3px
        font-size: 13px
        font-weight: 300

@media (max-width: 660px)
    .infoText
        padding-right: 0
        font-size: 13px
        font-weight: 200

@media (max-width: 648px)
    .infoText
        font-size: 11px
        font-weight: 100

    
.btnText
    font-weight: 600
    text-decoration: none
    padding-bottom: 2px

.btnLanding
    padding-top: 12px
    color: $color-main-text
    border-bottom: 2px solid $color-main-text
    margin-right: 15px
    text-align: center
    &:hover
        padding-top: 12px
        color: $color-text
        border-bottom: 2px solid $color-text
