@import "../../../../styles/variables"
@import "../../../../styles/mixins"

.wrapper
    width: 100%
    display: flex
    justify-content: space-between
    .subTitle
        margin-top: 25px
        width: 382px
        .title, .subtitle
            font-family: $font-inter
            color: #000000
        .title
            margin-top: 9px
            font-weight: 600
            font-size: 24px
        .subtitle
            font-weight: 400
            font-size: 14px
            margin-bottom: 23px

.wrapperLessonRequestsCalendar
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    .toggleBtns
        margin-bottom: 32px
    .sectionsWrapper
        .sectionsTitle
            font-family: $font-inter
            font-size: 14px
            font-weight: 600
            color: #333333
            margin-bottom: 24px


@media screen and ( max-width: 600px )
    .wrapper
        flex-wrap: wrap