@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@100&display=swap')
/* variables.module.sass */
// SignUpSPLayout, style for top bar
$default-color-sign-sp-layout: #000000
$color-sign-sp-layout: #ffffff
$color-sign-sp: #ffffff
$color-btn-sp: #4E4E4E
$opacity-bg-color: #7A7A7A
$font-inter: 'Inter', sans-serif
$font-poppins: 'Poppins', sans-serif

